* {
	padding: 0;
	margin:0;
}
html, body {
	height:100%;
	width:100%;
}
body  {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#container {
	text-align: left;
	min-width: 970px;
	background-image: url(../gfx/header-bg.png);
	background-repeat:repeat-x;
	position: relative;
} 
#header {
	padding: 0;
	height: 170px;
	position: relative;
	color: #CCC;
	background-image: url(../gfx/header-bg-right.png);
	background-repeat: no-repeat;
	background-position: right top;
} 
#header h1 {
	margin: 0;
	padding: 10px 0; 
}
#header h1 a{
	display:block;
	background-image: url(../gfx/logo.png);
	width: 220px;
	height: 49px;
	position: absolute;
	top: 40px;
	left: 20px;
	text-indent: -9999px;
	background-repeat: no-repeat;
}

#inner {
	padding-top: 5px;
	padding-bottom: 50px;
}
#sidebar {
	float: left;
	width: 210px;
	padding-left: 10px;
}
#sidebar1 h3, 
#sidebar p {
	margin-left: 10px;
	margin-right: 10px;
}
#mainContent {
	margin: 0 10px 0 230px;
	background-color: #F3F4F4;
	padding: 10px;
} 
#footer {
	padding: 0;
	background-image: url(../gfx/footer_bg.png);
	height: 38px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 200;
} 
#footer p {
	margin: 0;
	font-size: 11px;
	color: #938c86;
	padding-top: 18px;
	padding-right: 15px;
	float:right;
}
#footer a {color: #938c86; text-decoration:none;}
#footer a:hover { color:#fff;}

#footer h2 { display:none;}
#footer div.content {}
#footer div.content ul {}
#footer div.content ul li {float:left;}
#footer div.content ul li a{display:block; }
/* Verschiedene wieder verwertbare Klassen */
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
