/*
*
*/

div#mainContent {}
div#mainContent h3{ margin-bottom:15px; font-size:14px; padding:3px 0;} 
/*
*	Lists
*/

div#mainContent ul {padding-left:25px;}
div#mainContent ul li {}
div#mainContent ul li a{ color:#C00; text-decoration:none; padding:3px 0;}
div#mainContent ul li a:hover{ color:#333;}

/*
*	Nodes
*/

div#mainContent div.node {
	background-color: #FFF;
	border: 1px solid #c2c3c3;
	margin-bottom:15px;
}
div#mainContent div.node h2 {
	padding: 7px 15px !important;
	font-size: 14px;
	font-weight: normal;
	background-image: url(../gfx/brownbox-bg.png) !important;
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #726e68 !important;
	border:0 !important;
}
div#mainContent div.node h2 a{
	text-decoration: none;
	color: #ccc;
}
div#mainContent div.node h2 a:hover{
	color: #fff;
}
div#mainContent div.node span.submitted {
	font-size: 11px;
	display: block;
	padding: 5px 15px;
	background-image: url(../gfx/block-white-bg.png) !important;
	background-repeat: repeat-x;
	background-position: bottom;
	color: #666;
}
div#mainContent div.node span.submitted a{	color: #A80505;}
div#mainContent div.node span.submitted a:hover {	color: #333;}

div#mainContent div.node div.content {
	background-image: url(../gfx/block-content-shadow.png);
	background-repeat: repeat-x;
	padding: 15px;
}
div#mainContent div.node div.content p{
	margin-bottom: 12px;
}
div#mainContent div.node div.content a{
	color: #A80505;
}
div#mainContent div.node div.content a:hover {}
div#mainContent div.node {}

div#mainContent div.node div.content img{
	margin:0 10px;
}
/*
*	Node Footer Links
*/
div#mainContent div.node div.links {
	padding: 15px;
	overflow: hidden;
	border-top:1px solid #d7d7d6;
	background-image:url(../gfx/block-content-shadow.png);
	background-repeat:repeat-x;
}
div#mainContent div.node div.meta {
	overflow: hidden;
}
div#mainContent div.node div.links ul {
	padding-top: 10px;
}
div#mainContent div.node div.links ul li {
	float: left;
	list-style-type: none;
	padding:0 3px !important;
}
div#mainContent div.node div.links ul li.statistics_counter { color:#999; font-size:11px; padding-left:5px !important; margin-left:3px; border-left: 1px solid #ccc;}
div#mainContent div.node div.links ul li a {
	color: #333;
	text-decoration: none;
	margin-right: 0px;
	border-left: 1px solid #ccc;
	padding-left: 5px;
}
div#mainContent div.node div.links ul li.first a {
	border-left: 0;
	padding-left: 0px;
}
div#mainContent div.node div.links ul li a:hover {
	color: #A80505;
}
/*
*	Node FOrm
*/
div.node-form {
	background-color: #FFF;
	padding: 15px;
	border: 1px solid #c2c3c3;
}
div.node-form fieldset {
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid #e3e3e3;
}
div.node-form fieldset legend {}
div.node-form fieldset legend a {
	text-decoration: none;
	color: #A80505;
}
div.node-form fieldset legend a:hover {
	color: #5C554E;
}

div.node-form label {
	display: block;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top: 3px;
}
div.node-form input.form-text {
	font-size: 12px;
	width: 99%;
	padding: 2px;
	border: 1px solid #ccc;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
}
div.node-form textarea {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	border: 1px solid #ccc;
	width: 99%;
	padding: 2px;
	margin-bottom: 10px;
}
/*
*	Tables
*/

div#mainContent table { width:100%; margin-bottom:10px}
div#mainContent table thead.tableHeader-processed th:last-child { width:200px}
div#mainContent table thead th { padding:3px;}

div#mainContent table tbody tr {}
div#mainContent table tbody tr.odd td { background-color:#f2f2f2;}
div#mainContent table tbody tr.even td { background-color:#fbfbfb;}
div#mainContent table tbody tr.drag td { background-color:#cec3b6 !important;}
div#mainContent table tbody tr th {}
div#mainContent table tbody tr td { padding:3px}
div#mainContent table tbody tr td.checkbox { width: 50px;}

div#mainContent table tbody tr td a { text-decoration:none; color:#b32b2b;}
div#mainContent table tbody tr td a:hover { color:#413a32;}
