/*
*	Progressbar
*/
.progress .filled {
background:#a80505 none repeat scroll 0 0 !important;
border-bottom:0.5em solid #860404 !important;
height:1em;
width:0;
}

/*
*	Fieldset
*/
fieldset { 
	border: 1px solid #e4e4e4;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	background-image: url(../gfx/block-white-bg.png);
	background-repeat: repeat-x;
	background-position:bottom;
}

fieldset.collapsible {}
fieldset.collapsible.collapsed { padding:5px 15px; !important;}

fieldset legend { font-size:14px; font-weight:bold; color:#666059}
fieldset legend.collapse-processed {}
fieldset legend.collapse-processed a{ color:#a80505; text-decoration:none; font-weight:bold;}

fieldset label { margin-bottom:3px;}
fieldset label.option { font-weight:bold !important; padding-bottom:7px;}

input.form-text,
select,
fieldset textarea {
	border: 1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
select {
	padding:2px;
}
fieldset input.form-text,
fieldset textarea {
	padding:3px;
}
fieldset input.form-text:focus,
fieldset textarea:focus,
select:focus{
	border-color:#b3b3b3;
	background-color:#f7f7f7;
}
fieldset div.description {}
fieldset div.description ul {}
fieldset div.description ul li{ color:#666;}

form div.form-item label { margin-bottom:4px;}

#views-ui-list-views-form { padding:10px 0;}
#views-ui-list-views-form .form-item {
margin-bottom:5px !important;
}
/*
*	Menu
*/	

ul.menu { padding:0 !important}
ul.menu li { list-style:none !important; margin:0 !important}
ul.menu li a {}

/*
*	Buttons
*/
form input.form-submit {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
	border:1px solid;
	cursor:pointer;
	color: #444;
	border-color:#cdcdcd;
	font-size:12px;
	padding:1px 7px 3px 7px;
}
form input#edit-submit,
form input#edit-preview,
form input#edit-delete {
	color: #fff;
	background-image: url(../gfx/input-shine.png);
	background-repeat: repeat-x;
	background-position: 0 0;
}

form input#edit-submit { background-color:#a80505; border-color:#830000;}
form input#edit-preview { background-color:#3c362e; border-color:#1e1a16;}
form input#edit-delete { background-color:#8d8d8d; border-color: #5f5d5d;}

/*
* Profile
*/

form#profile-admin-overview {}
form#profile-admin-overview h2 { 
	margin-bottom:20px;
	background-image:url(../gfx/block-white-bg.png) !important;
	background-position:center bottom;
	background-repeat:repeat-x; 
}
div.profile dl {}
div.profile dl dt {}
div.profile dl dd {}
div.profile dl dd a {
	padding:3px 7px; 
	background:#f3f4f4; 
	border:1px solid #CCC; 
	text-decoration:none; 
	color: #333;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;	
	margin-top:10px;
	display:inline-block;
}
div.profile dl dd a:hover {
	 background-color:#FFF; color:#a80505;
}
/*
*	Content
*/
div#mainContent .inner {
	padding:10px;
	background-color:#FFF;
	border:1px solid #C2C3C3;
	overflow:hidden;
}
div#mainContent h2 {
	background-color:#8E0606 !important;
	background-image:url(../gfx/primary_menu_bg.png) !important;
	background-position:center top;
	background-repeat:repeat-x;
	color:#FFFFFF !important;
	padding:10px 15px !important;
	font-size:14px;
	font-weight:normal;
	border:1px solid #C2C3C3;
	border-bottom:0;
}
/*
*	Buttons
*/

div.compact-link,
div#tinymce_body_toggle{ margin-bottom:15px;}

div.compact-link a,
div.more-link a,
div#tinymce_body_toggle a { 
	padding:3px 7px; 
	background:#f3f4f4; 
	border:1px solid #CCC; 
	text-decoration:none; 
	color: #333;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}
div.compact-link a:hover,
div.more-link a:hover,
div#tinymce_body_toggle a:hover { background-color:#FFF; color:#a80505;}

/*
*
*/

div#edit-title-wrapper { margin-top:0 !important;}
div#mainContent div.admin {margin-bottom:15px;}

div.update { margin-bottom:15px; }
div.update a { color: #a80505;}

/*
*	Pager
*/

ul.pager { padding-top:10px;}
ul.pager li { margin-left:10px; padding:0 !important}
ul.pager li a {padding: 3px 5px !important; border:1px solid #ddd}
ul.pager li a:hover {border:1px solid #ccc; background:#f2f2f2}

/*
*	Admin Panel
*/

div.admin { padding-top:0 !important;}
div.admin div.left { margin-left:0 !important}
div.admin div.right { margin-right:0 !important}

div.admin div.left ,
div.admin div.right { width:48% !important}

div.admin-panel {
	margin-bottom: 10px;
	border: 1px solid #e4e4e4;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	background-image: url(../gfx/block-white-bg_v2.png);
	background-repeat: repeat-x;
}
div.admin-panel h3 {
	color: #A80505;
	padding: 3px 5px !important;
	margin-bottom:0 !important;
}
div.admin-panel div.body { padding:0}
div.admin-panel div.body p.description {
	font-size: 11px;
	color: #666;
	padding: 5px;
}
div.warning, tr.warning {
margin-bottom:10px;
}
div#mainContent div.inner ul.menu {}
div#mainContent ul.menu li {
padding: 0 !important;
}
*html div.inner ul.menu li {
	display: inline-block;
}
div#mainContent ul.menu li a{
	padding: 3px 5px;
	display: block;
	color: #625C55;
	text-decoration: none;
	border-top: 1px solid #f3f4f4;
}
div#mainContent ul.menu li a:hover{
	color: #A80505;
}
div#mainContent dl.admin-list {
	padding-left: 5px;
}
div#mainContent dl.admin-list dt { font-weight:bold;}
div#mainContent dl.admin-list dt a{
	color: #625C55;
	text-decoration: none;
}
div#mainContent dl.admin-list dt a:hover{
	color: #A80505;
}
div#mainContent dl.admin-list dd {
	font-size: 11px;
	color: #666;
	padding-bottom: 5px;
	border-bottom: 1px solid #f3f4f4;
	margin-bottom: 5px;
}
div#mainContent dl.admin-list dd:last-child { border-bottom:0; margin-bottom:0;}
/*
*	Node List
*/

div#mainContent dl.node-type-list {}
div#mainContent dl.node-type-list dt {}
div#mainContent dl.node-type-list dt a { font-weight:bold; color: #625C55;text-decoration: none;}
div#mainContent dl.node-type-list dt a:hover {color: #A80505;}
div#mainContent dl.node-type-list dd { font-size:11px; margin-bottom:10px; color:#666;}

table.update {}
table.update tr {}
table.update tr.odd td {}
table.update tr.even td{}
table.update tr.ok td{ background-color:#eaf1e8 !important;}
table.update tr.error td{ background-color:#f3ecec !important}
table.update tr td { padding:10px;}

table.update tr td div.info {padding:5px 10px !important; background:none !important; border:0 !important}

/*
*	Table Module
*/
table.package {}
table.package thead {}
table.package thead tr th{}

table.package tbody tr {}
table.package tbody tr.odd { background-color:#f4f4f4;}
table.package tbody tr.even { background-color:#f7f7f7;}
table.package tbody tr th {}
table.package tbody tr td { padding:5px 10px; vertical-align:top;}
table.package tbody tr td strong { white-space:nowrap; }

table.package tbody tr td.description div { color:#999;}

/*
*	resizable-textarea 
*/
.resizable-textarea { margin-bottom:7px; color:#999;}
.resizable-textarea textarea {
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}
.resizable-textarea .grippie {
margin-right:-6px !important;
}
/*
*	Wysigwy - Editors Fixes
*/

table.mceToolbar { width:auto !important; margin-bottom:0 !important}
table.mceToolbar tr {}
table.mceToolbar tr td {}