div#header div#navigation  {
	position: absolute;
	right: 15px;
	top: 95px;
	text-align: right;
}
div#header div#navigation ul{
	padding-top: 5px;
	height: 35px;
}
div#header div#navigation  ul li {
	float: left;
	list-style-type: none;
	padding-right:0 !important
}
div#header div#navigation ul li a{
	display: block;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	padding: 5px 10px;
	background-color: #A80505;
	margin-right: 3px;
	background-image: url(../gfx/btn-std.png);
	background-repeat: repeat-x;
	padding-bottom: 11px;
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius: 7px;
}
div#header div#navigation ul li a:hover{
	background-image: url(../gfx/btn-hover.png);
	padding-bottom: 20px;
	background-color: #6c6762;
}
div#header div#navigation ul li.active-trail a{
	background-image: url(../gfx/btn-active.png);
	color: #A80505;
	margin-top: -5px;
	padding-bottom: 18px;
	font-size: 12px;
}
div#header div#navigation ul li ul.menu {
	position:absolute;
	top: -9999px;
}
div#header div#navigation ul li:hover ul.menu,
div#header div#navigation ul li.sfHover ul.menu{ top:36px;}

/*
*	Submeu - Standard
*/
div#header div#navigation ul li.expanded a:hover{
	background-image: url(../gfx/btn-std.png);
	padding-bottom: 20px;
	background-color: #a80505;
}
div#header div#navigation ul.menu li.expanded ul {
	background-color: #a80505;
	z-index: 90;
	height:auto;
	padding:10px;

}
div#header div#navigation ul.menu li.expanded ul li {
	float: none;
	background: none;
	text-align: left;
	border-bottom: 1px solid #b93c3c;
}
div#header div#navigation ul.menu li.expanded ul li.last {
	border-bottom: 0;
}
div#header div#navigation ul.menu li.expanded ul li a{
	font-size: 11px;
	color: #e6bbbb;
	padding: 3px 5px;
	background: none;
	margin:0;
}
div#header div#navigation ul.menu li.expanded ul li a:hover { color:#fff;}

/*
*	Submeu - Active Trail
*/
div#header div#navigation ul li.active-trail a:hover{
	background-image: url(../gfx/btn-active.png);
	color: #A80505;
	margin-top: -5px;
	padding-bottom: 17px;
	font-size: 12px;
}
div#header div#navigation ul.menu li.active-trail ul {
	background-color: #e2e2e2;
	z-index: 90;
	height:auto;
	padding:10px !important;
	width:110px;

}
div#header div#navigation ul.menu li.active-trail ul li {
	float: none;
	background: none;
	text-align: left;
	border-bottom: 1px solid #cacaca;
	position:relative;
}
div#header div#navigation ul.menu li.active-trail ul li.last {
	border-bottom: 0;
}
div#header div#navigation ul.menu li.active-trail ul li a{
	font-size: 11px;
	color: #333;
	padding: 3px 5px;
	background: none;
	margin:0;
}
div#header div#navigation ul.menu li.active-trail ul li a:hover { color:#a80505;}

div#header div#navigation ul.menu li.active-trail ul li ul {left: -130px; top:-9999px; background-color:#d5d5d5;}
div#header div#navigation ul.menu li.active-trail ul li:hover ul {left: -140px; top:-10px;}
div#header div#navigation ul.menu li.active-trail ul li ul li {}

/*
*	Submenu
*/
div#navigation ul li ul {}
div#navigation ul li ul li {}
div#navigation ul li ul li a{}

/*
*	Tabmenu primary
*/

ul.tabs {
	height: 28px;
	border-bottom: 1px solid #c9c8c6;
	padding-left: 10px !important;
}
ul.tabs li {
	float: left;
	list-style-type: none;
}
ul.tabs li a {
	font-size: 11px;
	text-decoration: none;
	margin-right: 2px;
	display: block;
	background-color: #FFF;
}
ul.tabs li a:hover { color:#a80505 !important;}

/*
*	Tabmenu primary
*/

ul.primary {
	border-bottom: 1px solid #c9c8c6;
	margin-bottom: 15px;
	padding-left: 0px !important;
}
ul.primary li {
	float: left;
	list-style-type: none;
}
ul.primary li a {
	font-size: 11px;
	text-decoration: none;
	border-top: 1px solid #c9c8c6;
	border-right: 1px solid #c9c8c6;
	border-left: 1px solid #c9c8c6;
	padding: 7px 5px !important;
	margin-right: 2px;
	display: block;
	background-color: #FFF;
	color:#635c56 !important;
	border-top-radius: 7px;
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius: 7px;
}
ul.primary li a:hover { color:#a80505 !important;}

/*
*	secondary Tabmenu
*/
ul.secondary {}
ul.secondary li {}
ul.secondary li a{}
