/*
*	Header Xtras
*/
div#header-xtras {
	right: 15px;
	padding-top: 4px;
	text-align: right;
}
div#header-xtras div.content{
	font-size: 11px;
	padding-bottom: 5px;
	padding-right: 15px;
}
div#header-xtras div.content a { color:#ccc; text-decoration:none}
div#header-xtras div.content a:hover { color:#fff}
div#header-xtras div.content ul {}
div#header-xtras div.content ul li {}
div#header-xtras div.content ul li a{}

div#header-xtras div#smallheader {
	background-image: url(../gfx/smallheader-btn.png);
	width: 34px;
	height: 20px;
	display: block;
	float: right;
	cursor: pointer;
	margin-right: 15px;
}

/*
*	Block Standard
*/
div#inner div.block {
	background-color: #f3f4f4;
	padding: 10px;
	margin-bottom: 15px;
}
div#inner div.block h2 {
	font-size: 14px;
	font-weight: normal;
	padding: 10px 10px;
	border: 1px solid #c2c3c3;
	background-color: #FFF;
	background-image: url(../gfx/block-white-bg.png);
	background-position: bottom;
	cursor:pointer;
	position:relative;
}
div#inner div.block h2 span {
	position:absolute;
	right:10px;
	top:10px;
	height:16px;
	width:16px;
	display:block;
	background-image: url(../gfx/icon_close.png);
}
div#inner div.block h2 span.close { background-image: url(../gfx/icon_show.png); }
/*
*	Blockmenu - Left
*/

div#block-menu-primary-links h2{
	color: #FFF !important;
	background-image: url(../gfx/primary_menu_bg.png) !important;
	background-position: top;
	background-repeat: repeat-x;
	background-color: #8E0606 !important;
	padding: 10px 10px !important;
}

div#inner div.block div.content{
	padding: 10px;
	background-color: #FFF;
	border-right: 1px solid #c2c3c3;
	border-bottom: 1px solid #c2c3c3;
	border-left: 1px solid #c2c3c3;
	background-image: url(../gfx/block-content-shadow.png);
	background-repeat: repeat-x;
}
div#inner div.block div.content ul {
	list-style-type: none;
}
div#inner div.block div.content ul li { border-bottom:1px solid #d7d7d6}
div#inner div.block div.content ul li.last { border-bottom:0}
div#inner div.block div.content ul li a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 5px 10px;
}
div#inner div.block div.content h3 { font-size:12px; font-weight:bold;}
div#inner div.block div.content ul li a:hover {
	color: #a80505;
}
div#inner div.block div.content div.item-list { padding-top:10px;}
/*
*	Block - BLog
*/
div.block-blog {}
div.block-blog h2 {}
div.block-blog div.content{}
div.block-blog div.item-list { margin-bottom:15px;}

div.block-blog ul { padding:0}
div.block-blog ul li { list-style:none !important; margin:0;}
div.block-blog ul li a{ font-size:11px;}
/*
*	Messages
*/
div.messages {
	padding: 15px 15px 15px 65px;
	margin-bottom: 15px;
	background-position: 10px center;
	background-repeat: no-repeat;
	font-size: 11px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
div.messages p {margin:0;}

div.messages a { color:#a80505; }
div.messages a:hover {text-decoration:none;}

div.messages ul { padding-left:30px;}
div.messages ul li {}
/*
*	Div - Help / Info
*/
div.help {
	padding: 15px 15px 15px 65px;
	margin-bottom: 15px;
	background-position: 10px center;
	background-repeat: no-repeat;
	font-size: 11px;
	background-color: #ecf1f6;
	border: 1px solid #d8dee3;
	background-image: url(../gfx/icons/lightbulb_48.png);
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
div.help a { color:#a80505; }
div.help a:hover {text-decoration:none;}

div.info {
	border: 1px solid #e3e1d8;
	background-color: #f5f4ed;
	background-image: url(../gfx/icons/speech_bubble_48.png);
}
div.error {
	background-color: #f9f2ef;
	border: 1px solid #e5d9d6;
	background-image: url(../gfx/icons/cancel_48.png);
}
div.warning {
	background-color: #f5f5e0;
	border: 1px solid #e8e8c5;
	background-image: url(../gfx/icons/warning_48.png);
}
div.status {
	background-color: #eff9eb;
	border: 1px solid #cadbc5;
	background-image: url(../gfx/icons/accepted_48.png);
}
/*
*	Schnellsuche
*/
div#header div.block-search {
	font-size: 11px;
	position: absolute;
	bottom: 15px;
	right: 20px;
	z-index:5;
}
div#header div.block-search h2 {
	font-size: 11px;
	display: none;
}
div#header div.block-search {}
div#header div.block-search label {

}
div#header div.block-search input.form-text {
	font-size: 11px;
	width: 150px !important;
	border: 1px solid #3f3932 !important;
	padding: 1px 2px 2px 2px;
	/*background-color: #403b35; */
	background: rgba(0, 0, 0, 0.3) !important;
	color:#fff;
}
div#header div.block-search input.form-submit{
	background-image: url(../gfx/search-btn.png);
	background-repeat: repeat-x;
	background-color: #900A0A;
	border: 1px solid #690000;
	padding: 0 4px;
	color: #FFF;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}
/*
*	Breadcrumb
*/
div.breadcrumb {
	position: absolute;
	bottom: 13px;
	right: 0px;
	left: 0px;
	padding-left: 15px;
	z-index:4;
}
div.breadcrumb h2 {
	display: none;
	float: left;
}
div.breadcrumb {
	font-size: 11px;
}
div.breadcrumb a {
	color: #CCC;
	text-decoration: none;
}
div.breadcrumb a:hover {
	color: #FFF;
}
/*
*	Footermenu
*/

div#footer div.block-menu {}
div#footer div.block-menu h3 {}
div#footer div.block-menu div.content {}
div#footer div.block-menu div.content ul {
	font-size: 11px;
	position: relative;
	top: 15px;
	left: 15px;
}
div#footer div.block-menu div.content ul li {
	float: left;
	list-style-type: none;
}
div#footer div.block-menu div.content ul li.last a{
 border-right: 0 !important;
}
div#footer div.block-menu div.content ul li a {
	text-decoration: none;
	color: #938c86;
	padding: 0 5px;
	border-right: 1px solid #938c86;
}
div#footer div.block-menu div.content ul li a:hover {
	color: #FFF;
}
